@model IDictionary <ApplicationUser, List<IdentityRole>>
@{
    ViewBag.Title = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Manage User Roles</h2>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>

        </tr>
    </thead>
@foreach (var pair in Model)
{
        <tr>
            <td>
                @pair.Key.UserName
            </td>
            <td>
                @pair.Key.Email
            </td>
            <td>
            @foreach (var role in pair.Value)
            {
                @if (@pair.Key.UserName != "a" || role.Name != "Admin")
                {
                    <form asp-action="Delete">
                        <input type="hidden" name="userId" value="@pair.Key.Id" />
                        <input type="hidden" name="roleId" value="@role.Id" />
                        @role.Name
                        <div class="btn btn-sm">
                             <input type="submit" value="X" class="btn btn-default" />
                        </div>
                    </form>
                } else
                {
                    @role.Name

                }
            }
            </td>
            <td>
                <a asp-action="Add" asp-route-id="@pair.Key.Id">Add Role</a>
            </td>
        </tr>
}
</table>